{% extends 'layout.html' %}

{% block body %}
   <div >
  <center><h1 style="color:violet;">Login</h1></center>
  <center><form  style="width:50%" action="/logins" method="POST">
    <div class="form-group">
      <label style="color:white;">Username</label>
      <input type="text" name="username" class="form-control" value={{request.form.username}}>
    </div>
    <div class="form-group">
      <label style="color:white;">Password</label>
      <input type="password" name="password" class="form-control" value={{request.form.password}}>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</center>
</div>

{% endblock %}
